<!DOCTYPE HTML>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-4.4.1/bootstrap.bundle.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dark.min_3.0.0.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <h3 class="w-100">Виновники упавших сборок</h3>
            <div class="col-8">
                <table id="table-counter" class="table table-striped table-bordered w-100">
                    <caption>Виновники упавших сборок</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Кто</th>
                            <th>Сколько</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-auto">Дней без происшествий:</div>
                    <div class="col-auto days-without-incident">-</div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <h3 class="w-100">Все голоса</h3>
            <div class="col">
                <table id="table-all-votes" class="table table-striped table-bordered w-100">
                    <caption>Все голоса</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Ид.</th>
                            <th>Кто</th>
                            <th>IP</th>
                            <th>Хост</th>
                            <th>Добавлено</th>
                            <th>Отменено</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>